[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WikidataQueryServiceR"]
	path = WikidataQueryServiceR
	url = https://github.com/wikimedia/wikidataqueryservicer
